.notes {
  flex: 1;
  height: 100%;
  padding: 16px 0;
  border-right: solid 1px var(--bg-dark);
}

.note {
  background-color: var(--bg-dark);
  color: var(--text-light);
  padding: 8px 32px;
  cursor: pointer;
}

.note__title {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.note__content {
}
