.floatingAddButton {
  position: absolute;
  bottom: 50%;
  left: calc(50% - (38px / 2));
  transform: translate(-50%, -50%);
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  animation: floating 2s ease-in-out infinite;
}

.floatingAddButton:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.add-icon {
  font-size: 36px;
  color: white;
  font-weight: bold;
}
