.category-container {
  flex: 1;
  width: 100%;
  background-color: orange;
}

.category-container .category-create {
  width: 100%;
  display: flex;
  gap: 8px;
  background-color: aquamarine;
}

.category-container .category-input {
  width: 100%;
}

.category-container .category-addbtn {
  width: 100%;
}

.category-list {
  height: 100%;
  width: 100%;
}

/* Style for each category item */
.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  /* border-bottom: 1px solid var(--text-); */
  font-size: var(--font-size-xs);
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--text-light);
  font-weight: 600;
  border-radius: 8px;
  margin-bottom: 4px;
}

/* Hover effect for each category item */
.category-item:hover {
  background-color: var(--bg-light);
  color: var(--text-dark);
  border-radius: 8px;
}

.category-buttons {
  display: none;
}

.category-item:hover > .category-buttons {
  display: flex;
  gap: 4px;
  /* animation: shake 0.6s ease-in-out forwards; */
}

/* Active category item */
.category-item.active {
  position: relative;
}

/* Vertical white line on active category item */
/* Vertical white line on active category item */
.category-item.active::before {
  content: "";
  position: absolute;
  left: 0; /* Position the line horizontally at the center */
  top: 50%; /* Position the line vertically at the center */
  width: 4px; /* Width of the line */
  height: 0; /* Initial height of the line (collapsed state) */
  background-color: white;
  border-radius: 8px;
  transform: translateY(
    -50%
  ); /* Center the line both vertically and horizontally */
  animation: expandLine 0.3s forwards; /* Apply the animation */
}

/* Keyframes for the vertical line animation */
@keyframes expandLine {
  0% {
    height: 0;
  }
  100% {
    height: 24px; /* Expanded height */
  }
}
