@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");

// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
// $background-color: #f8f8f8;
$text-dark: #161616;
$text-light: #fff;
$background-light: #fff;
$background-dark: #161616;
$gray: #505050;

// Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Poppins", sans-serif;
$font-logo: "Playfair Display", serif;
$font-xs: 14px;
$font-sm: 16px;
$font-base: 18px;
$font-md: 21px;
$font-lg: 24px;
$font-xl: 32px;
// Spacing
$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;
