.sidebar {
  width: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--spacing-unit);
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.sidebar__icon {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
}

.sidebar__welcome {
  /* padding: 14px 0; */
  display: flex;
  flex-direction: column;
}

.sidebar__welcome--title {
  font-size: var(--font-size-xl);
  margin-bottom: 20px;
  line-height: 1.3;
}

.sidebar__welcome--subtitle {
  font-size: var(--font-size-sm);
  margin-bottom: 20px;
  text-wrap: stable;
  line-height: 1.5;
  /* text-align: justify; */
}
