.user {
  padding: 16px 0;

  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__icon {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}

.user__name {
  font-size: var(--font-size-sm);
}
