.note-editor {
  flex: 1;
  height: 100%;
  padding: 16px 0;
}

.note-editor__view {
  background-color: var(--bg-dark);
  color: var(--text-light);
  padding: 8px 32px;
}

.note-editor__view--title {
}
.note-editor__view--content {
}

.empty-item {
  font-size: var(--font-size-lg);
}
